@{
    ViewData["Title"] = "JuegoAhorcado";
}

<h1>@Ahorcado.guionizar(Ahorcado.palabraElegida)</h1>
<h2>Intentos: @Ahorcado.intentos</h2>
<h2>Letras Utilizadas:</h2>
@foreach(char letra in Ahorcado.letrasUtilizadas)
{
    <p>@letra</p>
}

<div>
    <form action='@Url.Action("ArriesgarPalabra")' method="get">
    <input type="text" name="palabra"/>
    <input type="submit" value="Arriesgar Palabra"/>
    </form>

    <form action='@Url.Action("ArriesgarLetra")' method="get">
    <input type="text" name="letraString" maxlength="1"/>
    <input type="submit" value="Arriesgar Letra"/>
    </form>
</div>